<!-- Page Title -->
<section class="page-title">
    <div class="content" style="background-image: url(assets/images/background/15.png)">
        <div class="auto-container">
            <h1>Contact Us</h1>
        </div>
    </div>
    <ul class="page-breadcrumb">
        <li><a href="/">home</a></li>
        <li>Contact Us</li>
    </ul>
</section>
<!-- End Page Title -->

<!-- Contact Page Section -->
<section class="contact-page-section">
    <div class="image-layer" style="background-image:url(assets/images/background/4.png)"></div>
    <div class="auto-container">
        <!-- Title Box -->
        <div class="title-box">
            <h2>Have Some Questions?</h2>
            <div class="text">Thankyou for your intrest in our services. Please filllout the form bellow or or email us at <br> given id and we will get back to you promptly regarding your request.</div>
        </div>
        <div class="row clearfix">
        
            <!-- Info Column -->
            <div class="info-column col-lg-4 col-md-6 col-sm-12">
                <div class="inner-column">
                    <span class="icon flaticon-maps-and-flags"></span>
                    <div class="text">125, Umoja Street, square <br> road, Dar es salaam, Tanzania</div>
                </div>
            </div>
            
            <!-- Info Column -->
            <div class="info-column col-lg-4 col-md-6 col-sm-12">
                <div class="inner-column">
                    <span class="icon flaticon-email-3"></span>
                    <div class="text">info@vevox.com <br> support@vevox.com</div>
                </div>
            </div>
            
            <!-- Info Column -->
            <div class="info-column col-lg-4 col-md-6 col-sm-12">
                <div class="inner-column">
                    <span class="icon flaticon-telephone"></span>
                    <div class="text">+(255) 123 4567 89 <br> + (255) 8745 554</div>
                </div>
            </div>
            
        </div>
        
        <!-- Map Boxed -->
        <div class="map-boxed">
            <!--Map Outer-->
            <div class="map-outer">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d805184.6331292129!2d144.49266890254142!3d-37.97123689954809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2sMelbourne%20VIC%2C%20Australia!5e0!3m2!1sen!2s!4v1574408946759!5m2!1sen!2s" allowfullscreen=""></iframe>
            </div>
        </div>
        
        <!-- Lower Section -->
        <div class="lower-section" id="contact">
            <div class="row clearfix">
            
                <!-- Title Column -->
                <div class="title-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <h2>Multi-Disciplined <br> Engineering <br> Solutions </h2>
                        <div class="text">South-central construction region since 2024</div>
                        <!-- Button Box -->
                        <div class="button-box">
                            <a class="btn-style-two theme-btn" href="/about"><span class="txt">More About Us</span></a>
                        </div>
                    </div>
                </div>
                
                <!-- Form Column -->
                <div class="form-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="title-box">
                            <h3>Request For Quote</h3>
                            <div class="text">Best Tools & Materials Used For Safe</div>
                        </div>
                        <!-- Default Form -->
                        <div class="default-form contact-form">
                            <form method="post" action="sendemail.php" id="contact-form">
                                <div class="form-group">
                                    <input type="text" name="name" value="" placeholder="Name" required>
                                </div>
                                
                                <div class="form-group">
                                    <input type="email" name="email" value="" placeholder="Email" required>
                                </div>
                                
                                <div class="form-group">
                                    <input type="text" name="phone" value="" placeholder="Phone" required>
                                </div>
                                
                                <div class="form-group">
                                    <input type="text" name="subject" value="" placeholder="Subject" required>
                                </div>
                                
                                <div class="form-group text-center">
                                    <button type="submit" class="theme-btn btn-style-four"><span class="txt">contact us now</span></button>
                                </div>
                            </form>
                        </div>
                        <!--End Default Form-->
                        
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</section>
<!-- End Contact Page Section -->