<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8">
                <div class="breadcrumb-content">
                    <h3 class="title">Contact Us</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->

<!-- contact-area -->
<section class="contact-area section-space-top section-meadium-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="contact-title">
                    <h3 class="title">Get in Touch with Chita Telecom</h3>
                </div>
                <form action="#" class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-grp">
                                <input type="text" id="name" autocomplete="off" required>
                                <label for="name">First Name*</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-grp">
                                <input type="number" id="phone" autocomplete="off" required>
                                <label for="phone">Phone</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-grp">
                                <input type="email" id="email" autocomplete="off" required>
                                <label for="email">Email*</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-grp">
                                <select class="form-select mb-30" aria-label="Default select example">
                                    <option selected disabled>Subject</option>
                                    <option value="1">Broadband Connection</option>
                                    <option value="2">Wi-Fi Internet</option>
                                    <option value="3">Satellite TV Box</option>
                                    <option value="4">Netflix TV Box</option>
                                    <option value="5">Mobile Connection</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-grp">
                        <textarea name="message" id="message" autocomplete="off" required></textarea>
                        <label for="message">Message*</label>
                    </div>
                    <p class="contact-form-check">
                        <input type="checkbox" class="form-check-input" id="cookies-consent">
                        <label for="cookies-consent" class="form-check-label">I agree that my data is being stored for further contact. View our <a href="/privacy">Privacy Policy</a></label>
                    </p>
                    <button type="submit" class="btn">Submit Message</button>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="contact-info-wrap">
                    <h3 class="contact-info-title">Direct Contact</h3>
                    <p>Chita Telecom provides reliable broadband and internet services to enhance your connectivity.</p>
                    <ul class="contact-info-list">
                        <li><i class="fal fa-phone"></i> <a href="tel:+255 753 591 743">+255 753 591 743</a></li>
                        <li><i class="fal fa-envelope"></i> <a href="mailto:support@chitatelecom.com">support@chitatelecom.com</a></li>
                        <li><i class="fal fa-map-marker-alt"></i> <span>Morogoro, NHC House, CBD</span></li>
                    </ul>
                </div>
                <div class="contact-info-wrap">
                    <h3 class="contact-info-title">Live Chat</h3>
                    <p>For instant assistance, chat with one of our representatives now!</p>
                    <div class="live-chat">
                        <div class="icon"><i class="flaticon-chat"></i></div>
                        <a href="#" class="live-chat-link">Chat with Support</a>
                    </div>
                </div>
                <div class="contact-info-wrap">
                    <h3 class="contact-info-title">Need Help?</h3>
                    <p>If you're not ready to talk, explore our <a href="/fqn">Help Center & FAQ</a> for quick answers to common questions.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-area-end -->

  <!-- contact-map -->
  <div id="contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2028307.5374152125!2d35.36224029374999!3d-6.82588349999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x185a5db9f4e69f45%3A0xb3f0d5c968d6c7f5!2sNational%20Housing%20Corporation%20Morogoro%20Branch!5e0!3m2!1sen!2stz!4v1737984261386!5m2!1sen!2stz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
</div>
<!-- contact-map-end -->
