<!--Error Section-->
<section class="error-section">
    <div class="auto-container">
        <div class="inner-section">
            <h1>404</h1>
            <h6>OOPPS! THE PAGE YOU WERE LOOKING FOR, COULDN'T BE FOUND.</h6>
            <div class="text">Try the search below to find matching pages:</div>
            
            <!-- Search -->
            <div class="error-search-form">
                <form method="post" action="contact.html">
                    <div class="form-group">
                        <input type="search" name="search-field" value="" placeholder="Search..." required>
                        <button type="submit"><span class="icon fa fa-search"></span></button>
                    </div>
                </form>
            </div>
            <a href="/" class="go-back">Back to Home Page</a>
            
        </div>
    </div>
</section>
<!--End Error Section-->