<!-- About Section -->
<section id="about" class="about section">

    <div class="container" data-aos="fade-up">
      <div class="row gx-0">
  
        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Who We Are</h3>
            <h2>Connecting Homes, Empowering Lives</h2>
            <p>
              At Chita telecom, we are dedicated to providing reliable, high-speed internet services designed to meet the unique needs of every household. Whether you're working, learning, streaming, or gaming, we ensure seamless connectivity to keep you connected to what matters most. 
            </p>
            <p>
              Our mission is to empower communities with cutting-edge technology, innovative solutions, and exceptional customer service. Join thousands of happy customers enjoying unlimited possibilities with Chitatelecom.
            </p>
            <div class="text-center text-lg-start">
              <a href="/services" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Learn More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
  
        <!-- <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/about.jpg" class="img-fluid" alt="About Chitatelecom">
        </div> -->
  
      </div>
    </div>
  
  </section>
  