<!-- Contact Section -->
<section id="contact" class="contact section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Contact Us</h2>
    <p>Get in touch with Chita telecom for any inquiries or support</p>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-6">

        <div class="row gy-4">
          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="200">
              <dotlottie-player
                src="https://lottie.host/c1365ca8-9aa0-47d4-bb8c-c0f30838d44e/eK60dLsGuI.lottie"
                background="transparent"
                speed="1"
                style="width: 50px; height: 50px"
                loop
                autoplay
              ></dotlottie-player>
              <h3>Our Location</h3>
              <p>Chita telecom Headquarters</p>
              <p>1234 Internet Avenue</p>
              <p>Dar es Salaam, Tanzania</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="300">
              <dotlottie-player
                src="https://lottie.host/5de999a4-e828-4e38-9b45-25b628a18684/PQlR9A5n3I.lottie"
                background="transparent"
                speed="1"
                style="width: 50px; height: 50px"
                loop
                autoplay
              ></dotlottie-player>
              <h3>Call Us</h3>
              <p>+255 752 123 456</p>
              <p>+255 754 987 654</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="400">
              <dotlottie-player
              src="https://lottie.host/582f1129-ab94-44af-8ded-968d5a177f62/yBM7O2rht2.lottie"
              background="transparent"
              speed="1"
              style="width: 50px; height: 50px"
              loop
              autoplay
            ></dotlottie-player>
              <h3>Email Us</h3>
              <p>support@chitatelecom.com</p>
              <p>info@chitatelecom.com</p>
            </div>
          </div><!-- End Info Item -->

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="500">
              <dotlottie-player
              src="https://lottie.host/00eeeaec-1d12-453a-9d7d-6840aaf03697/sm1iGsTMAE.lottie"
              background="transparent"
              speed="1"
              style="width: 50px; height: 50px"
              loop
              autoplay
            ></dotlottie-player>
              <h3>Office Hours</h3>
              <p>Monday - Friday</p>
              <p>8:00AM - 06:00PM</p>
            </div>
          </div><!-- End Info Item -->

        </div>

      </div>

      <div class="col-lg-6">
        <form id="contactForm" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">
            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
            </div>
            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
            </div>
            <div class="col-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
            </div>
            <div class="col-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>
            <div class="col-12 text-center">
              <div id="statusMessage" style="display: none; margin-top: 10px;"></div>
              <button type="submit">Send Message</button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Contact Form -->

    </div>

  </div>

</section><!-- /Contact Section -->
