<!-- Experiance Section -->
<section class="experiance-section">
	<div class="image-layer" style="background-image:url(assets/images/background/3.png)"></div>
	<div class="auto-container">
		<div class="row clearfix">
		
			<!-- Content Column -->
			<div class="content-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="year-box">
						<div class="count-box">
							0<span class="count-text" data-speed="5000" data-stop="15">0</span>
						</div>
						<span class="years">Years</span>
					</div>
					<div class="title">
						<span class="icon flaticon-network"></span>
						of Industry Expertise & <br> Continuous <i>Innovation</i>
					</div>
					<div class="text">With over 15 years of experience in telecommunications and civil infrastructure, we have successfully deployed optical fiber networks, telecom towers, and passive telecom solutions across multiple regions. Our commitment to excellence and customer satisfaction drives us to continually innovate and enhance our service delivery.</div>
					<!-- Button Box -->
					<div class="button-box">
						<a class="btn-style-three theme-btn" href="/services"><span class="txt">More About Us</span></a>
					</div>
				</div>
			</div>
			
			<!-- Form Column -->
			<div class="form-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="content">
						<div class="title">
							<h4>Interested in Telecommunications</h4>
							<span>Get In Touch</span>
						</div>
						
						<!-- Email Form -->
						<div class="email-form">
							<form method="post" action="/contact">
								<div class="form-group">
									<input type="email" name="email" value="" placeholder="Enter Your Email Address" required>
									<button type="submit" class="theme-btn btn-style-one"><span class="txt">Contact Us Now</span></button>
								</div>
							</form>
						</div>
						
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- End Experiance Section -->