<!-- Faq Page Section -->
<section class="faq-page-section">
    <div class="auto-container">
        <div class="sec-title centered">
            <span class="icon ">
                <img src="assets/images/icons/question-mark.png" alt="">
            </span>
            <h2>Frequently Asked <span>Questions</span></h2>
        </div>
        <div class="row clearfix">
            
            <!-- Column -->
            <div class="faq-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <ul class="accordion-box">
                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What services does your company provide?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">We specialize in telecom infrastructure, fiber optic network deployment, and civil engineering solutions.</div>
                                </div>
                            </div>
                        </li>
                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How long does a typical project take?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">The timeline depends on project complexity, but most telecom projects take 3-6 months to complete.</div>
                                </div>
                            </div>
                        </li>
                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Do you provide maintenance services?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Yes, we offer ongoing maintenance for fiber optic networks, telecom towers, and passive infrastructure.</div>
                                </div>
                            </div>
                        </li>
                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How can I request a project quote?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">You can contact us through our website or email us at info@gncsolutions.co.tz to request a quote.</div>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
            
            <!-- Column -->
            <div class="faq-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <ul class="accordion-box">
                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What industries do you serve?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">We serve the telecom, construction, and energy sectors, providing innovative infrastructure solutions.</div>
                                </div>
                            </div>
                        </li>
                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>Do you operate internationally?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Yes, we have completed projects in multiple countries, including Tanzania, Malawi, and Madagascar.</div>
                                </div>
                            </div>
                        </li>
                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>What certifications does your company hold?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">We are ISO 9001, ISO 14001, and ISO 45001 certified, ensuring high-quality service delivery.</div>
                                </div>
                            </div>
                        </li>
                        
                        <!--Block-->
                        <li class="accordion block">
                            <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How can I partner with your company?</div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">You can reach out to our business development team via email or phone to discuss partnership opportunities.</div>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End Faq Page Section -->
