<!-- faq-area -->
<section class="faq-area section-space-top section-meadium-bottom">
    <div class="container">
        <div class="row align-items-center align-items-xl-end">
            <div class="col-lg-6">
                <div class="section-title mb-40">
                    <h2 class="title">Frequently Asked Questions</h2>
                </div>
                <div class="faq-wrapper">
                    <div class="accordion" id="accordionExample">
                        <!-- Question 1 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    I want to order a Chitatelecom Fibre service, what should I do?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show"
                                aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    To place an order for Chitatelecom Fibre service, you must first confirm the availability of fibre in your area using one of the following methods:
                                    <ul>
                                        <li>Completing a coverage check on our website</li>
                                        <li>Message us on WhatsApp on +255 753 591 743</li>
                                        <li>Filling out a call-back request form</li>
                                        <li>Call our Customer Care line on 082 1904</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Question 2 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    What is the installation process?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Once you've completed your application, your order is processed and added to the network build plan. The fibre network is then rolled out in your area according to the build schedule. The installation partner will contact you for an appointment to survey your home and plan the installation. Once the installation plan is agreed upon, a separate appointment will be made with you for the installation partner to install the Chitatelecom Fibre service and required equipment at your home.
                                </div>
                            </div>
                        </div>
                        <!-- Question 3 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    Can I take my Chitatelecom Fibre Broadband service with me if I relocate?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Service relocations will be allowed subject to the availability of fibre infrastructure at the location you're moving to. If our Chitatelecom team can provide Internet services at your new location, you'll be offered a service similar to the service you had at your previous location. However, you will incur additional costs relating to the provisioning of the service at the new location.
                                    <br><br>
                                    <strong>Please note:</strong> If the relocation is to an area without a fibre network, then your current contract may be cancelled without any penalty and you'll remain liable for the cost of the Customer Premises Equipment (WiFi-enabled router).
                                </div>
                            </div>
                        </div>
                        <!-- Question 4 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                    aria-expanded="false" aria-controls="collapseFour">
                                    What is the cost of Chitatelecom Fibre service?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse"
                                aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    The cost of Chitatelecom Fibre service varies depending on the package you choose. We offer a range of plans to suit your needs. For more information on pricing and available packages, please visit our website or contact our customer support team.
                                </div>
                            </div>
                        </div>
                        <!-- Question 5 -->
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                    aria-expanded="false" aria-controls="collapseFive">
                                    When will Chitatelecom Fibre service be available in more areas?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse"
                                aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    We are constantly expanding our fibre network. The availability of Chitatelecom Fibre service in more areas depends on the rollout schedule. You can check the coverage in your area by visiting our website or by contacting customer support.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faq-map-area">
                    <div class="faq-map-title">
                        <h4 class="title">We are everywhere</h4>
                        <p>Home Internet customers that did not provide an email address for service notifications</p>
                    </div>
                    <div class="faq-map text-center">
                        <img src="assets/imgs/images/map_img.webp" alt="" loading="lazy">
                        <a href="/" class="btn map-btn">Check Your Network Coverage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- faq-area-end -->
