<!-- FullWidth Section -->
<section class="fullwidth-section">
    <div class="outer-container">
        <div class="row clearfix">
            <!-- Left Column -->
            <div class="left-column" style="background-image:url(assets/images/background/fullwidth-1.png)">
                <div class="inner-column">
                    <div class="title">Why Choose Us?</div>
                    <h3>Leading the Way in <br> Telecom & Infrastructure</h3>
                    <div class="text">Providing cutting-edge connectivity solutions across Africa.</div>
                    <a href="services.html" class="plus fa fa-plus"></a>
                </div>
            </div>
            <!-- Right Column -->
            <div class="right-column" style="background-image:url(assets/images/background/fullwidth-2.png)">
                <div class="inner-column">
                    <h3>Transforming Networks</h3>
                    <h5>Innovative Engineering Solutions</h5>
                    <a href="contact.html" class="theme-btn btn-style-four"><span class="txt">Connect With Us</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End FullWidth Section -->
