<!-- Main Slider Section -->
<section class="main-slider">
	<div class="main-slider-carousel owl-carousel owl-theme">
		<!-- Slide 01 -->
		<div class="slide" style="background-image:url(assets/images/main-slider/image-1.png)">
			<div class="auto-container clearfix">
				<!-- Content Column -->
				<div class="content-column">
					<div class="inner-column">
						<div class="title">Connecting the Future</div>
						<h1>Reliable <span class="theme-color">Telecom Solutions</span> for Africa</h1>
						<div class="text">Vevox delivers cutting-edge telecom infrastructure, fiber networks, and digital connectivity solutions to empower businesses and communities.</div>
						<div class="btns-box">
							<a class="btn-style-one theme-btn" href="/about"><span class="txt">Discover More</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Slide 01 -->
		
		<!-- Slide 02 -->
		<div class="slide" style="background-image:url(assets/images/main-slider/image-2.png)">
			<div class="auto-container clearfix">
				<!-- Content Column -->
				<div class="content-column">
					<div class="inner-column">
						<div class="title">Expanding Network Coverage</div>
						<h1>Advanced <span class="theme-color">Fiber & Wireless</span> Solutions</h1>
						<div class="text">We specialize in fiber optic deployment, telecom tower construction, and wireless communication technologies to enhance connectivity.</div>
						<div class="btns-box">
							<a class="btn-style-one theme-btn" href="/services"><span class="txt">Our Services</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Slide 02 -->
		
		<!-- Slide 03 -->
		<div class="slide" style="background-image:url(assets/images/main-slider/image-3.png)">
			<div class="auto-container clearfix">
				<!-- Content Column -->
				<div class="content-column">
					<div class="inner-column">
						<div class="title">Innovating Telecom Infrastructure</div>
						<h1>Smart <span class="theme-color">Connectivity</span> for Tomorrow</h1>
						<div class="text">Vevox is driving the future of telecom with scalable, high-performance infrastructure and cutting-edge network solutions.</div>
						<div class="btns-box">
							<a class="btn-style-one theme-btn" href="/contact"><span class="txt">Get in Touch</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Slide 03 -->
	</div>
	<div class="play-box">
		<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image play-button"><span class="flaticon-play-arrow"><i class="ripple"></i></span></a>
	</div>
</section>
<!-- End Main Slider Section -->
