<!-- pricing-area -->
<section class="pricing-area section-space">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="section-title text-center mb-50">
                    <h2 class="title">Discover Our Best Value Plans</h2>

                </div>
            </div>
        </div>
        <div class="pricing-plan-wrap">
            <div class="row">
                <!-- Basic Plan -->
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="pricing-item mb-30">
                        <div class="pricing-thumb">
                            <img src="assets/imgs/images/pricing_thumb01.png" alt="">
                            <h3 class="title"><a href="pricing.html">Home Internet</a></h3>
                            <div class="net-speed">
                                <h5>5-10 <span>MBPS</span></h5>
                            </div>
                        </div>
                        <div class="pricing-content">
                            <ul class="pricing-list">
                                <li><img src="assets/imgs/icons/check.png" alt=""> Ideal for browsing & streaming</li>
                                <li><img src="assets/imgs/icons/check.png" alt=""> Supports multiple devices</li>
                                <li><img src="assets/imgs/icons/check.png" alt=""> Warp Speed & Instant Support</li>
                            </ul>
                            <div class="price-wrap">
                                <span>Starts From</span>
                                <h3 class="price">Tshs 60,000<sub>/Month</sub></h3>
                            </div>
                            <div class="pricing-btn">
                                <a href="/plan" class="btn btn-link">View Plans</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Family Plan -->
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="pricing-item mb-30">
                        <div class="pricing-thumb">
                            <img src="assets/imgs/images/pricing_thumb02.png" alt="">
                            <h3 class="title"><a href="pricing.html">Family Plan</a></h3>
                            <div class="net-speed">
                                <h5>20 <span>MBPS</span></h5>
                            </div>
                        </div>
                        <div class="pricing-content">
                            <ul class="pricing-list">
                                <li><img src="assets/imgs/icons/check.png" alt=""> Stream HD videos & online gaming</li>
                                <li><img src="assets/imgs/icons/check.png" alt=""> Connect 10+ devices</li>
                                <li><img src="assets/imgs/icons/check.png" alt=""> Free Installation & Instant Support</li>
                            </ul>
                            <div class="price-wrap">
                                <span>Starts From</span>
                                <h3 class="price">Tshs 99,000<sub>/Month</sub></h3>
                            </div>
                            <div class="pricing-btn">
                                <a href="/plan" class="btn btn-link">View Plans</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ultimate Plan -->
                <div class="col-lg-4 col-md-6 col-sm-9">
                    <div class="pricing-item mb-30">
                        <div class="pricing-thumb">
                            <img src="assets/imgs/images/pricing_thumb03.png" alt="">
                            <h3 class="title"><a href="pricing.html">Business & Corporate</a></h3>
                            <div class="net-speed">
                                <h5>100 <span>MBPS</span></h5>
                            </div>
                        </div>
                        <div class="pricing-content">
                            <ul class="pricing-list">
                                <li><img src="assets/imgs/icons/check.png" alt=""> Blazing speeds for large teams</li>
                                <li><img src="assets/imgs/icons/check.png" alt=""> Supports 50+ devices</li>
                                <li><img src="assets/imgs/icons/check.png" alt=""> Extensive Reach & Enterprise Security</li>
                            </ul>
                            <div class="price-wrap">
                                <span>Starts From</span>
                                <h3 class="price">Tshs 199,000<sub>/Month</sub></h3>
                            </div>
                            <div class="pricing-btn">
                                <a href="/plan" class="btn btn-link">View Plans</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- pricing-area-end -->
