<!-- Services Section -->
<section class="services-section">
	<div class="image-layer-one" style="background-image:url(assets/images/background/2.png)"></div>
	<div class="auto-container">
		<!-- Sec Title -->
		<div class="sec-title centered">
			<span class="icon">
				<img src="assets/images/icons/neural-network.png" alt="services-icon" />
			</span>
			<h2>What we <span>do?</span></h2>
			<div class="text">Providing top-notch solutions in telecom and civil infrastructure</div>
		</div>
		<div class="inner-container" style="background-image:url(assets/images/background/1.png)">
			<div class="row clearfix">
				
				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<span class="icon ">
							<img src="assets/images/icons/connector.png" alt="services-icon" />
						</span>
						<h4><a href="service-detail.html">Optical Fiber Networks</a></h4>
						<div class="text">Construction and maintenance of strategic backbone fiber networks with over 1,500 km deployed.</div>
						<a href="#" class="read-more">Read More <span class="arrow fa fa-caret-right"></span></a>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<span class="icon ">
							<img src="assets/images/icons/telecommunication.png" alt="services-icon" />
						</span>
						<h4><a href="service-detail.html">Telecom Towers</a></h4>
						<div class="text">Construction and maintenance of telecom towers, with over 1,600 sites managed.</div>
						<a href="#" class="read-more">Read More <span class="arrow fa fa-caret-right"></span></a>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<span class="icon ">
							<img src="assets/images/icons/switch.png" alt="services-icon" />
						</span>
						<h4><a href="service-detail.html">Passive Telecom Solutions</a></h4>
						<div class="text">Design, fabrication, and supply of infrastructure solutions, including colocation enhancements.</div>
						<a href="#" class="read-more">Read More <span class="arrow fa fa-caret-right"></span></a>
					</div>
				</div>
				
			</div>
		</div>
		
		<!-- Button Box -->
		<div class="button-box text-center">
			<a class="btn-style-two theme-btn" href="services.html"><span class="txt">More Services</span></a>
		</div>
		
	</div>
</section>
<!-- End Services Section -->
