<!-- Solution Section -->
<section class="solution-section" style="background-image:url(assets/images/background/4.png)">
	<div class="side-image wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
		<img src="assets/images/resource/solution.png" alt="" />
	</div>
	<div class="auto-container">
		<div class="row clearfix">
		
			<!-- Title Column -->
			<div class="title-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					<div class="sec-title">
						<h2>Innovative Telecom & Infrastructure Solutions</h2>
						<div class="text">Empowering connectivity with cutting-edge engineering solutions</div>
					</div>
					<!-- Button Box -->
					<div class="button-box">
						<a class="btn-style-two theme-btn" href="about.html"><span class="txt">More About Us</span></a>
					</div>
				</div>
			</div>
			
			<!-- Content Column -->
			<div class="content-column col-lg-6 col-md-12 col-sm-12">
				<div class="inner-column">
					
					<!-- Feature Block -->
					<div class="feature-block">
						<div class="inner-box">
							<span class="icon flaticon-optical-fiber"></span>
							<h4><a href="fiber-solutions.html">Optical Fiber Networks</a></h4>
							<div class="text">Deployment and maintenance of high-speed fiber optic networks for seamless connectivity.</div>
							<a href="fiber-solutions.html" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
						</div>
					</div>
					
					<!-- Feature Block -->
					<div class="feature-block">
						<div class="inner-box">
							<span class="icon flaticon-tower"></span>
							<h4><a href="telecom-infrastructure.html">Telecom Infrastructure</a></h4>
							<div class="text">Design and construction of telecom towers and passive infrastructure to support expanding networks.</div>
							<a href="telecom-infrastructure.html" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
						</div>
					</div>
					
					<!-- Feature Block -->
					<div class="feature-block">
						<div class="inner-box">
							<span class="icon flaticon-tools"></span>
							<h4><a href="passive-solutions.html">Passive Telecom Solutions</a></h4>
							<div class="text">Provision of colocation enhancements, energy solutions, and telecom site upgrades.</div>
							<a href="passive-solutions.html" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- End Solution Section -->
