  <!-- cta-area -->
  <section class="cta-area cta-bg jarallax" data-background="assets/imgs/bg/cta_bg.png">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
                <div class="cta-content text-center">
                    <div class="section-title white-title mb-35">
                        <h2 class="title">Need Fast & Secure Broadband? Use Chita telecom </h2>
                    </div>
                    <div class="cta-btn-wrap">
                        <a href="/plan" class="btn">View our Plans</a>
                        <span class="or">OR</span>
                        <a href="tel:+255 753 591 743" class="btn transparent-btn">+255 753 591 743</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cta-area-end -->



  
