<!-- subscribe-area -->
<section class="subscribe-area subscribe-bg" data-background="assets/imgs/bg/subscribe_bg.png">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-7 col-lg-6">
                <div class="subscribe-img wow fadeInLeft" data-wow-delay=".2s">
                    <img src="assets/imgs/images/subscribe_img02.png" alt="Subscribe" loading="lazy">
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="section-title mb-30">
                    <h2 class="title">Unlimited Entertainment Awaits You</h2>
                </div>
                <div class="subscribe-content">
                    <p>Explore the ultimate collection of sports, movies, TV shows, and more—all in one place. Start your entertainment journey today.</p>
                    <h4 class="title"><span>Subscribe to Netflix TV Box Now &</span> Enjoy 1 Month of FREE Wi-Fi</h4>
                    <div class="subscribe-plan">
                        <h2 class="price"><span>For Just</span> Tshs 60,000<sub>/Month</sub></h2>
                        <a href="/plan" class="btn btn-link">Explore All Plans</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe-area-end -->
