<!-- Video Section -->
<section class="video-section" style="background-image:url(assets/images/background/5.png)">
    <div class="auto-container">
        <div class="content">
            <h2>Empowering Connectivity <br> with Cutting-Edge Solutions</h2>
            <div class="text">Delivering reliable telecom and infrastructure services across Africa</div>
            <a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image video-box"><span class="flaticon-play-button"><i class="ripple"></i></span></a>
        </div>
    </div>
</section>
<!-- End Video Section -->
