<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Layout</h6>
    </div>
	
	<div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="assets/css/color-themes/default-color.css"></span>
            <span class="palate green-color" data-theme-file="assets/css/color-themes/green-color.css"></span>
            <span class="palate olive-color" data-theme-file="assets/css/color-themes/blue-color.css"></span>
            <span class="palate orange-color" data-theme-file="assets/css/color-themes/orange-color.css"></span>
            <span class="palate purple-color" data-theme-file="assets/css/color-themes/purple-color.css"></span>
            <span class="palate teal-color" data-theme-file="assets/css/color-themes/teal-color.css"></span>
            <span class="palate brown-color" data-theme-file="assets/css/color-themes/brown-color.css"></span>
            <span class="palate yellow-color" data-theme-file="assets/css/color-themes/yellow-color.css"></span>
        </div>
    </div>
	
	<h6>RTL Version</h6>
	<ul class="rtl-version option-box"> <li class="rtl">RTL Version</li> <li>LTR Version</li> </ul>
	<h6>Boxed Version</h6>
	<ul class="box-version option-box"> <li class="box">Boxed</li> <li>Full width</li></ul>
	<h6>Want Sticky Header</h6>
	<ul class="header-version option-box"> <li class="box">No</li> <li>Yes</li></ul>
	
</div>