<!-- Main Footer -->
<footer class="main-footer" style="background-image:url(assets/images/background/6.png)">
    <div class="auto-container">
        
        <!-- Upper Box -->
        <div class="upper-box">
            <div class="box-inner">
                <div class="title">Subscribe to Our <span>Newsletter</span></div>
                <!-- Subscribe Form -->
                <div class="subscribe-form">
                    <form method="post" action="subscribe.html">
                        <div class="form-group">
                            <span class="icon fa fa-envelope"></span>
                            <input type="email" name="email" value="" placeholder="Enter your email address" required>
                            <button type="submit" class="theme-btn btn-style-one"><span class="txt">Subscribe Now</span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Upper Box -->
        
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                
                <!-- Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="widget-content">
                                    <div class="logo">
                                        <a href="/"><img src="assets/images/logo.png" alt="Company Logo" /></a>
                                    </div>
                                    <div class="text">We provide cutting-edge telecom and infrastructure solutions for a connected world.</div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5>Quick Links</h5>
                                <ul class="list-link">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="services.html">Our Services</a></li>
                                    <li><a href="projects.html">Projects</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
                <!-- Column -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5>Company</h5>
                                <ul class="list-link">
                                    <li><a href="clients.html">Our Clients</a></li>
                                    <li><a href="team.html">Meet Our Team</a></li>
                                    <li><a href="careers.html">Careers</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <!-- Footer Column -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h5>Follow Us</h5>
                                <!-- Social Box -->
                                <ul class="social-box">
                                    <li><a href="https://www.facebook.com/" class="fa fa-facebook-f"></a></li>
                                    <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                                    <li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
                                    <li><a href="https://youtube.com/" class="fa fa-youtube-play"></a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="copyright">&copy; <a href="/">Vevox</a> - All Rights Reserved 2024.</div>
        </div>
    </div>
</footer>
<!-- End Main Footer -->
