	<!-- Page Title -->
    <section class="page-title">
    	<div class="content" style="background-image: url(assets/images/background/15.png)">
			<div class="auto-container">
				<h1>Faq's</h1>
			</div>
		</div>
		<ul class="page-breadcrumb">
			<li><a href="/">home</a></li>
			<li>Faq</li>
		</ul>
    </section>
    <!-- End Page Title -->

<!-- faq-area -->
 <%- include('../Home/fqn.ejs') %>


 <!-- Faq Section Two -->
 <section class="faq-section-two">
    <div class="auto-container">
        <div class="row clearfix">
        
            <!-- Accordion Column -->
            <div class="accordion-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <div class="title">TELL US NOW</div>
                        <h2>Do You Have Questions?</h2>
                        <div class="text">Complete control over products allows us to ensure our customers <br> receive the best quality prices and service.</div>
                    </div>
                    
                    <!-- Faq Form -->
                    <div class="faq-form">
                        <form method="post" action="/contact">
                            
                            <div class="form-group">
                                <input type="text" name="username" placeholder="Your Name" required="">
                            </div>
                            
                            <div class="form-group">
                                <input type="email" name="email" placeholder="Your Email" required="">
                            </div>
                            
                            <div class="form-group">
                                <textarea type="text" placeholder="Message"></textarea>
                            </div>
                            
                            <div class="form-group">
                                <button class="theme-btn btn-style-three" type="submit" name="submit-form"><span class="txt">Submit Now</span></button>
                            </div>
                            
                        </form>
                    </div>
                    <!-- End Faq Form -->
                    
                </div>
            </div>
            
            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="border-layer"></div>
                    <div class="image">
                        <img src="assets/images/resource/faq.png" alt="" />
                        <div class="icon-outer">
                            <div class="icon ">
                                <img src="assets/images/icons/faq.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="image-two">
                        <img src="assets/images/resource/faq-1.png" alt="" />
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End Faq Section Two -->
