<!-- breadcrumb-area -->
<section class="breadcrumb-area breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8">
                <div class="breadcrumb-content">
                    <h3 class="title">FAQ Page</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb-area-end -->

<!-- faq-area -->
 <%- include('../Home/fqn.ejs') %>

   <!-- queries-area -->
   <section class="queries-area" data-background="assets/imgs/bg/queries_bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
                <div class="section-title text-center white-title mb-50">
                    <h2 class="title">Still You Need Help to Know More Queries?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="queries-form">
                    <form action="#">
                        <div class="row">
                            <div class="col">
                                <div class="form-grp">
                                    <input type="text" placeholder="Your Name">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-grp">
                                    <input type="email" placeholder="Your Email">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-grp">
                                    <input type="text" placeholder="Question">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-grp text-end">
                                    <button class="btn">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- queries-area-end -->