<!-- Clients Section Two -->
<section class="clients-section-two style-two">
    <div class="auto-container">
        <!-- Title Box -->
        <div class="title-box">
            <div class="row clearfix">
                <!-- Column -->
                <div class="column col-lg-6 col-md-12 col-sm-12">
                    <div class="icon flaticon-email"></div>
                    <h2>We Have Best <br> Corporate Partners</h2>
                </div>
                <!-- Column -->
                <div class="column col-lg-6 col-md-12 col-sm-12">
                    <div class="text">We work with the public sector to build thriving communities.</div>
                </div>
            </div>
        </div>
        <div class="inner-container">
            <div class="sponsors-outer">
                <!-- Sponsors Carousel -->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/halotel.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/voda.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/yas.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="assets/images/clients/airtel.png" alt=""></a></figure></li>

                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Clients Section Two -->